body{
    font-family: "montserrat";
    
}


#title{
    background-color: #ff4c68;
    padding:0px 0px 100px 0px;
    
    
  
}
h1{
    font-family: "Montserrat-bold";
    line-height: 2;
    font-size: 3.5rem;
    
    padding: 7% 15%;

    color:bisque;

}





button{
    padding-left: 5%;
}

.mr-auto .mx-auto{
    margin-left: auto!important;
}

.imgdog{
    
  width: 200px;
  margin-top: 11px;

    transform: rotate(21deg);
    position: absolute;
    left:70%; 
    
}
.imgdog2{
    
    width:200px;
    margin-top: 11px;
    position: absolute;
      transform: rotate(-21deg);
     
     
     
  }
#features{
    padding: 7% 15%;
   background-color:#fff;
    position: relative;
    z-index: 1;
    
    

}
.feature-box{
    text-align: center;
    padding:4.5%;
   
   
}
h3{
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    color: #ff6408;
}
p{
    color: #8f8f8f;
}
.icon{
    color: #ef8172;
}
.icon:hover{
    color: crimson;
}
#testimonials{
    text-align: center;
    background-color :#ef8172;
   
    color: aliceblue;
    font-size: 3.5rem;
    padding-top:17px;
    
}
.testimonials-img{
border-radius: 90%;
margin: 3%;
width:15%;

}
h2{padding-top: 30px;
    margin:20% 0% 0% 18%;
}
carousel-item {
    padding: 7% 25%;
}
#press{
    text-align: center;
    background-color :#ff4c68;
   
    padding-bottom:17px;
}
.press-logo{
    width: 15%;
    margin: 0% 2% 1% 0%;
}
.pricing-item{
    padding:3% 2%;
    text-align: center;
}
#pricing{
    padding:100px;
}
#cta{
 
    background-color :#ff4c68;
    font-size: 3.5rem;
    padding:170px 70px;
    color: #fff;
 text-align: center;
    
}
#footer{
 text-align: center;
 padding:50px 50px;
    
}
.icon9{

    margin: 0px 5px;
}
@media(max-length:1028px){
    #title{
        position:static;
    }
    
}